/* ...existing code... */
.gradient-border {
  position: relative;
  border-radius: 9999px;
  padding: 2px;
  background: linear-gradient(
    to right,
    #666666,
    #181818,
    #666666,
    #181818,
    #666666
  );
}

.gradient-border-inner {
  border-radius: 9999px;
  background: #0f100f; /* Or your desired background */
}
/* ...existing code... */

.card-gradient-border {
  background: linear-gradient(-160deg, transparent, #666666, transparent);
  border-radius: 20px;
  padding: 2px;
}
.card-gradient-border-inner {
  background: #0f100f; /* Or your desired background */
  border-radius: 20px;
  padding: 10px;
}

.badge-gradient-border {
  background: linear-gradient(-160deg, transparent, #666666, transparent);
  border-radius: 10px;
  padding: 1px;
}

/* Swiper pagination custom color */
.swiper-pagination-bullet {
  background: #64e79e !important;
  opacity: 0.5;
  width: 13px !important;
  height: 13px !important;
  margin-right: 10px !important;
  /* margin-bottom: -20px !important; */
}
.swiper-pagination-bullet-active {
  background: #64e79e !important;
  opacity: 1;
  width: 13px !important;
  height: 13px !important;

  /* margin-bottom: -20px !important; */
}

a.active {
  color: #64e79e;
  position: relative;
  transition: color 0.3s;
  font-weight: 500;
}

a.active::before {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #64e79e;
  border-radius: 9999px;
  transition: width 0.3s;
}
